.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 100%;
}

.container > :first-child,
.container > :last-child {
  width: 4rem;
}

.container > span {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}
