.container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.container > span {
  background-color: var(--vscode-banner-background);
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
