.container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.container > thead > tr {
  width: 100%;
}

.container > tbody > tr {
  background-color: var(--vscode-banner-background);
  padding: 0.5rem;
  margin: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.container > tbody > tr > * {
  width: 12rem;
}

.container > tbody > tr > :first-child {
  width: fit-content;
  color: var(--vscode-activityBarItem-profilesForeground);
  font-weight: 600;
}

.container > tbody > tr > :last-child {
  width: 100%;
  height: 100%;
}
