.container {
  color: var(--vscode-banner-foreground);
  background-color: var(--vscode-banner-background);
  border: 1px var(--vscode-banner-foreground) solid;
  padding: 0.5rem;
}

.container > p {
  margin: 0;
  font-size: 1rem;
  font-weight: 600;
}
